table {
    width: 100%;
  }

body{
     background-image: url('/assets/Background.jpg');
    background-color: #cccccc;
    height: 100%;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.head div{
    position: relative;
    
    font-size: 4vw;
    background-color: gray;
}
div{
    background-color: white;
}
.mat-form-field {
    font-size: 14px;
    width: 100%;
  }