<style>
        @import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
        </style>
        
<body>
                
        <div style="font-family:  'Anton', sans-serif; font-size: 1.5vw;">ID: {{id}}<br>
                                                                        Name: {{name}}<br>
                                                                        Email: {{email}}<br>
                                                                        Phone: {{phone}}<br>
                                                                        Gender: {{gender}}<br>
                                                                        DOB: {{dob}}<br>
                                                                        Address: {{address}}<br>


        </div>
        
        <div class="container align-centre" style="position: relative; bottom: 150px">
        <div class="form-popup align-centre" id="myForm" *ngIf="show">
                <form action="/action_page.php" class="form-container">
                  <h1>Add Record</h1>
              
                  <label for="Title"><b>Treatment Description</b></label>
                  <input type="text" placeholder="Enter Description" name="title" [(ngModel)]="title" [ngModelOptions]="{standalone: true}" required>
                  <button type="submit" class="btn" (click)="submit(); show = false">Add</button>
                  <button type="submit" class="btn cancel" (click)="show = false">Close</button>
                </form>
              </div></div>
              <div *ngIf="!show" class="container align-middle" style="position: relative; max-width: 200px; font-family: 'Anton', sans-serif;
              font-size: 1vw;">
               <img src="assets/add.png" (click)="show = true" *ngIf="!show"> <span (click)="show = true"> Add Record</span></div>
               <br>
               <div class="record mat-elevation-z8">
               <mat-form-field>
                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                      </mat-form-field>
                      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
               <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                        <!--- Note that these columns can be defined in any order.
                              The actual rendered columns are set as a property on the row definition" -->
                      
                        <!-- ID Column -->
                        <ng-container matColumnDef="id">
                          <th mat-header-cell *matHeaderCellDef> ID </th>
                          <td mat-cell *matCellDef="let record"> {{record.id}} </td>
                        </ng-container>
                      
                        <!-- RID Column -->
                        <ng-container matColumnDef="rid">
                          <th mat-header-cell *matHeaderCellDef> Record ID </th>
                          <td mat-cell *matCellDef="let record"> {{record.rid}} </td>
                        </ng-container>
                      
                        <!-- Tdate Column -->
                        <ng-container matColumnDef="tdate">
                          <th mat-header-cell *matHeaderCellDef> Treatment Date </th>
                          <td mat-cell *matCellDef="let record"> {{record.tdate}} </td>
                        </ng-container>
                      
                        <!-- Title Column -->
                        <ng-container matColumnDef="title">
                          <th mat-header-cell *matHeaderCellDef> Title </th>
                          <td mat-cell *matCellDef="let record"> {{record.title}} </td>
                        </ng-container>
                        <!-- Ttime Column -->
                        <ng-container matColumnDef="ttime">
                                        <th mat-header-cell *matHeaderCellDef> Treatment Time </th>
                                        <td mat-cell *matCellDef="let record"> {{record.ttime}} </td>
                                      </ng-container>
                      
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      </table>
                      
               </div>
                      
              
</body>
