<style>
        @import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
        </style>
        
<body>
        <div style="font-family:  'Anton', sans-serif; font-size: 2vw;">ID:{{id}}<br>
                                                                        Name:{{name}}<br>
                                                                        Email:{{email}}<br>
                                                                        Phone:{{phone}}<br>
                                                                        Gender:{{gender}}<br>
                                                                        Date-Of-Birth:{{dob}}<br>
                                                                        Address:{{address}}<br>


        </div>
        <mat-tab-group [color]="primary" [backgroundColor]="accent" class="mat-elevation-z4">
                <mat-tab label="First"> Content 1 </mat-tab>
                <mat-tab label="Second"> Content 2 </mat-tab>
                <mat-tab label="Third"> Content 3 </mat-tab>
                <a mat-tab label="Hello">Hello</a>
              </mat-tab-group>
</body>