<style>
    @import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
    </style>
    
<body>
            
    <div style="line-height: 2.0; font-size: 1.2vw;color: white">ID: {{id}}<br>
                                                                    Name: {{name}}<br>

    </div>
    <div *ngIf="!show" class="container align-middle" style="position: relative; max-width: 200px; 
    font-size: 1vw;cursor: pointer;">
    <img src="assets/add.png" (click)="show = true" *ngIf="!show"> <span style="color: white" (click)="show = true"> Add X-Ray </span></div>
    <br>
    <div *ngIf="show" class="container align-middle" style="position: relative; max-width: 200px; 
               font-size: 1vw;">
               <input type="file" (change)="uploadFile($event)"/>
                <div *ngIf="per">Uploaded: {{ uploadPercent | async}}%</div>
                </div>
               <span style="color: white"> X-Rays are:-</span>
               <ol style="cursor: pointer;">
                   <li *ngFor="let x of xlist | async;let i = index"><a routerLink='/pview/{{x}}'> <span style="color: white"> X-Ray {{i+1}}</span></a><img (click)="remove(x)" class="delete" src="/assets/del.png"></li>
               </ol>