<style>
    @import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
    @import url('https://fonts.googleapis.com/css?family=Yeseva+One&display=swap');
    </style>
<body>
    <div class="text-center align-middle" style="color: white"><img src="/assets/logo.png"></div>
    <div class="text-center align-middle msdc" style="color: white">M S DENTAL CLINIC AND IMPLANT CENTRE</div>
    <div class="text-center addr" style="color: white; font-size: 2vw">No 25, 15<sup>th</sup> Main Road, 3<sup>rd</sup> Stage, 4<sup>th</sup> Block, Basaveshwarnagar, Bengaluru-79</div>
    <div class="text-center name" style="color: white; font-size: 1.5vw;margin-left: 10px">Dr R Krishna B.Sc BDS</div>
    <div class="text-center desg" style="color: white; font-size: 1.5vw;margin-left: 10px"> Dental Surgeon</div>
    <div class="text-center reg" style="color: white; font-size: 1.5vw;margin-left: 10px">Regn No: 2369-A</div>                  
                                                                                                    
</body>