<style>
    @import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
    </style>
    
<body>
            
    <div style="font-family:  'Anton', sans-serif; font-size: 1.5vw;">ID: {{id}}<br>
                                                                    Name: {{name}}<br>

    </div>
    <div *ngIf="!show" class="container align-middle" style="position: relative; max-width: 200px; font-family: 'Anton', sans-serif;
    font-size: 1vw;">
    <img src="assets/add.png" (click)="show = true" *ngIf="!show"> <span (click)="show = true"> Add Document </span></div>
    <br>
    <div *ngIf="show" class="container align-middle" style="position: relative; max-width: 200px; font-family: 'Anton', sans-serif;
               font-size: 1vw;">
               <input type="file" (change)="uploadFile($event)"/>
                <div *ngIf="per">Uploaded: {{ uploadPercent | async}}%</div>
                </div>
               Available Documents are:-
               <ol>
                   <li *ngFor="let x of xlist | async;let i = index"><a routerLink='/pview/{{x}}'> Document {{i+1}}</a></li>
               </ol>