<head>
  <title>MSDC</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <div class="navbar-brand" href="#">MSDC</div>
  <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['home']">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['search']">Search Patients</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['add']">Add Patient</a>
      </li>    
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item nav-link">
        <div *ngIf='afAuth.user | async; else showLogin'>Welcome {{afAuth.auth.currentUser.email}}</div>
        <ng-template #showLogin>
          <button class="btn-danger" (click)="show = true">Login</button>
        </ng-template>
      </li>
      <li class="nav-item">
        <button class="btn-danger" *ngIf='afAuth.user| async as user' (click)="logout()">Logout</button>
      </li>
    </ul>
  </div>  
</nav>
<div *ngIf="show" class="form-popup" id="myForm" >
  <form class="form-container">
    <h1>Login</h1>

    <label for="email"><b>Email</b></label>
    <input [(ngModel)]="email" type="text" placeholder="Enter Email" name="email" required > 

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required [(ngModel)]="password">

    <button type="button" class="btn" (click)="show = false;login()">Login</button>
    <button type="button" class="btn cancel" (click)="show = false">Close</button>
  </form>
</div>

<router-outlet></router-outlet>