body{
    background-color: grey;
    
}
div{
    position: relative;
    top: 20%;
    font-family: 'Anton', sans-serif;
    font-size: 5vw;
}
.example-full-width {
    width: 80%;
/*     position: absolute;
    top: 350px; */
    font-size: 20px;
  }
  .btn{
      position: relative;
      top: 25px;
  }
  