body{
     background-image: url('/assets/Background.jpg');
    background-color: #cccccc;
    height: 100%;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    
}
div{
    position: relative;
    top: 20%;
    font-family: 'Yeseva One', cursive;
    font-size: 4vw;
}
.example-full-width {
    width: 80%;
/*     position: absolute;
    top: 350px; */
    font-size: 20px;
  }
  .btn{
      position: relative;
      top: 25px;
  }
